<div>
	<div>
		<label>Address:</label>
		<div>${ADDRESS1}</div>
		<div>${CITY}, ${STATE}</div>
		<div>${POSTAL}</div>
	</div>
	<div>
		<label class="infoWindowLabel">Phone:</label><a href="tel:${PHONE}">${PHONE}</a>
	</div>
	<div>
		<label class="infoWindowLabel">Account ID:</label><a href="${ACCOUNTLINK}">${ACCOUNTID}</a>
	</div>
	<div>
		<label class="infoWindowLabel">Premise ID:</label>${PREMISEID}
	</div>
	<div>
		<label class="infoWindowLabel">Premise Type:</label>${PREMISETYPE}
	</div>
</div>