.searchBoxDiv {
	width: 200px;
	max-width: 100%;
}

.searchBoxIcon {
	font-size: 14px;
}
.searchBoxClearPadding {
	padding-right: 20px !important;
}

.searchBoxWidth{
	width: 99%;
}

.searchBoxClear {
	position: absolute;
	right: 5px;
	top: 12px;
	z-index: 20;
	font-size: 14px;
	color: rgb(102, 102, 102);
}