.modal.fade.left.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal.fade.left .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}

.sideNavFooter {
	width: 100%;
	border-top: 1px solid #e0e0e0;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #e0e0e0;
}

.logo-wrapper {
	border-bottom: 1px solid #E0E0E0;
	height: 54px;
}

.environment.environment {
	font-size: 1.5em;
	font-weight: 600;
	color: #EF5350;
	top: -23px;
	text-transform: uppercase;
}

.sideNavMenu .modal-scroll {
	width: 240px !important;
} 