<div>
	<div class="panel panel-default">

		<div class="panel-heading" data-dojo-attach-point="headingDiv">
			<div class="listTitleContainerDiv" data-dojo-attach-point="listTitleContainerDiv">
				<div data-dojo-attach-point="titleNode"></div>
				<div class="pull-right" data-dojo-attach-point="searchDiv"></div>
				<div class="clearfix"></div>
			</div>

			<div class="listWidgetContainerDiv" data-dojo-attach-point="widgetContainerDiv"></div>
		</div>

		<div class="list-group" data-dojo-attach-point="containerNode"></div>

	</div>
</div>