<div class="row">
	<div class="col-sm-5 dataLabel">Event #</div>
	<div class="col-sm-7 dataItem">{num1}</div>
	<div class="col-sm-5 dataLabel">Outage Type</div>
	<div class="col-sm-7 dataItem">{typEng}</div>
	<div class="col-sm-5 dataLabel">Outage SubType</div>
	<div class="col-sm-7 dataItem">{subEng}</div>
	<div class="col-sm-5 dataLabel">Customers Affected</div>
	<div class="col-sm-7 dataItem">{numCust}</div>
	<div class="col-sm-5 dataLabel">Event Status</div>
	<div class="col-sm-7 dataItem">{eventStatus}</div>
	<div class="col-sm-5 dataLabel">Outage Reported</div>
	<div class="col-sm-7 dataItem">{sDts}</div>
	<div class="col-sm-5 dataLabel">Estimated Restoration</div>
	<div class="col-sm-7 dataItem">{estRepTime}</div>
</div>