<div class="${baseClass} ${baseClass}Container">
  <div class="${baseClass}Header" data-dojo-attach-point="dap_header">
    <span class="${baseClass}SwatchPreview ${baseClass}Container">
      <span class="${baseClass}Swatch ${baseClass}SwatchTransparencyBackground"></span>
      <span data-dojo-attach-point="dap_previewSwatch" class="${baseClass}Swatch"></span>
    </span>
  </div>
  <div class="${baseClass}Middle">
    <div data-dojo-attach-point="dap_palette" class="${baseClass}Palette" title="${labels.paletteTooltip}"></div>
    <div class="${baseClass}PaletteOptions">
      <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="dap_hexInput" class="${baseClass}HexInput" title="${labels.hexInputTooltip}"/>
      <input class="${baseClass}PaletteToggle" type="button" data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="dap_paletteToggle"/>
    </div>
  </div>
  <div class="${baseClass}Footer" data-dojo-attach-point="dap_footer">
    <div data-dojo-attach-point="dap_recentColorSection">
      <div class="${baseClass}Label">${labels.recent}</div>
      <div data-dojo-attach-point="dap_recentColorPalette" class="${baseClass}Palette"></div>
    </div>

    <div data-dojo-attach-point="dap_transparencySection">
      <div class="${baseClass}Label">${labels.transparency}</div>
      <div class="${baseClass}TransparencySlider"
           data-dojo-attach-point="dap_transparencySlider"
           data-dojo-type="esri/dijit/HorizontalSlider"
           data-dojo-props="minimum: 0, maximum: 1, discreteValues: 100, labels: ['0%', '50%', '100%']">
      </div>
    </div>
  </div>
</div>
