<a class="list-group-item">
	<div class="media listItem">
		<div class="listItemLeftIcon media-left media-middle"
			data-dojo-attach-point="leftIconNode"></div>
		<div class="listItemContent media-body media-middle">
			<div class="listItemLabelContent">
				<div class="listItemLabelText media-body"
					data-dojo-attach-point="leftLabelNode"></div>
				<div class="listItemRightText media-right media-middle"
					data-dojo-attach-point="rightTextNode"></div>
			</div>
			<div class="listItemBodyContent">
				<div class="listItemBodyText" data-dojo-attach-point="leftBodyNode"></div>
			</div>
		</div>
		<div class="listItemRightIcon media-right media-middle"
			data-dojo-attach-point="rightIconNode"></div>
	</div>
</a>