<div class="modal fade">
	<div class="modal-scroll">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="fa fa-close cursorPointer pull-right" style="padding: 10px" data-dismiss="modal"></div>
					<h4 class="modal-title" data-dojo-attach-point="titleNode"></h4>
				</div>
				<div class="modal-body" data-dojo-attach-point="containerNode"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link pull-left"
						data-dojo-attach-point="releaseNotesButton">Release Notes</button>
					<button class="btn btn-link" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>