<div>
	<div class="pickerSearchBox" data-dojo-type="common/ui/SearchBox"
		data-dojo-attach-point="searchBox"></div>
	<div class="hidden"
		data-dojo-attach-point="headingDiv, listTitleContainerDiv, titleNode, searchDiv, widgetContainerDiv"></div>
	<div class="pickerBackdrop hidden" data-dojo-attach-point="backdrop"></div>
	<div class="dropdown" data-dojo-attach-point="dropdownNode">
		<ul class="dropdown-menu pickerDropdown cursorPointer" role="menu"
			data-dojo-attach-point="containerNode"></ul>
	</div>
</div>