<div class="searchBoxDiv"
	data-dojo-attach-point="mainSearchDiv">
	<div class="input-group searchBoxWidth dropdown">
		<span
			class="disabled input-group-addon fa fa-search dropdown-toggle searchBoxIcon"
			data-toggle="dropdown" data-dojo-attach-point="dropdownSpan">
			<span class="caret hidden" data-dojo-attach-point="dropdownIcon"></span>
		</span>
		<ul class="dropdown-menu" role="menu"
			data-dojo-attach-point="containerNode"></ul>
		<input type="text" placeholder="Search"
			class="searchBoxClearPadding"
			data-dojo-type="common/ui/TextBox"
			data-dojo-attach-point="searchBox"><a
			data-dojo-attach-point="clearNode"
			class="searchBoxClear cursorPointer fa fa-close hidden"></a><a
			data-dojo-attach-point="loadingNode"
			class="searchBoxClear cursorPointer fa fa-spinner fa-spin hidden"></a></input>
	</div>
	<div class="pickerBackdrop hidden" data-dojo-attach-point="backdrop"></div>
	<div class="dropdown" data-dojo-attach-point="dropdownNode">
		<ul class="dropdown-menu pickerDropdown cursorPointer" role="menu"
			data-dojo-attach-point="resultsNode"></ul>
	</div>
	<div class="clearfix"></div>
</div>