<div class="modal fade left sideNavMenu" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-scroll">
		<nav class="modal-dialog navigationDrawer" role="navigation">
			<div class="logo-wrapper">
				<div class="navbar-brand logo" data-dojo-attach-point="brandNode"></div>
				<span class="environment" data-dojo-attach-point="environmentNode"></span>
			</div>
			<ul class="nav navbar-nav" data-dojo-attach-point="containerNode">
			</ul>
			<div data-dojo-attach-point="pushNode"></div>
			<div class="sideNavFooter" data-dojo-attach-point="footerNode"></div>
		</nav>
	</div>
</div>