<div class="cursorPointer summaryCard">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<div class="img-circle summaryCardImage" data-dojo-attach-point="imageNode"></div>
			<div class="summaryCardIcon hidden" data-dojo-attach-point="iconNode"></div>
		</div>
		<div class="panel-body">
			<div class="text-center summaryCardTitle" data-dojo-attach-point="labelNode"></div>
			<p class="text-center hidden-xs" data-dojo-attach-point="summaryNode"></p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>