.pickerBackdrop {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 900;
}

.pickerSearchBox {
	width: 100% !important;
}

.pickerDropdown{
	padding: 0;
	margin-top: 5px;
}